@model IEnumerable<NAAProject.Data.Models.Domain.Application>

@{
    ViewData["Title"] = "GetApplications";
}

<h1>GetApplications</h1>

<table class="table">
    <thead>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>
               @Html.ActionLink(item.Offer, "GetApplication", new {id = item.ApplicationId})
           </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a>
                    @if (item.Offer == "P")
                    {
                <a asp-action="Delete" asp-route-id="@item.ApplicationId">| Delete</a>                       
                    }
                    @if(item.Offer == "C" || item.Offer == "U") 
                    {
                        <a asp-action="Accept" asp-route-id="@item.ApplicationId">| Accept</a>
                    }

            </td>
        </tr>
}
    </tbody>
</table>
