@{
    ViewData["Title"] = "GetRolesForUser";
}

<h1>User Roles for @ViewData["UserName"]</h1>
<div>
    <ol>
        @foreach (string role in Model)
        {
            <li>
                <div class="d-inline">@role</div>
            </li>
        }
    </ol>
</div>

