
@{
    ViewData["Title"] = "GetUsers";
}

<h1>List of Users</h1>

@foreach (var user in Model)
{
    <p>
        @user.UserName |
        @Html.ActionLink("Edit", "EditUser", new {id = user.Id}) |
        @Html.ActionLink("Delete", "DeleteUser", new {id = user.Id})
    </p>
}


@Html.ActionLink("Show User Roles", "GetRolesForUser")

