
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

@Html.ActionLink("Users", "GetUsers", "Admin")
<br />
@Html.ActionLink("Roles", "GetRoles", "Admin")
<br />
@Html.ActionLink("Universities", "GetUniversities", "University")
<br />
@Html.ActionLink("UserProfile", "Details", "User")

