@model IEnumerable<NAAProject.Data.Models.Domain.University>

@{
    ViewData["Title"] = "GetUniversities";
}

<h1>GetUniversities</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                SHU
            </td>
            <td>
                @Html.ActionLink("Apply", "GetCourses", "SHU")
            </td>
        </tr>
        <tr>
            <td>
                Sheffield
            </td>
            <td>
                @Html.ActionLink("Apply", "GetCourses", "Sheffield")
            </td>
        </tr>
}
    </tbody>
</table>
